[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dougmill
[access "refs/for/refs/*"]
	read = group Macro Empires Reviewers
	read = group user/dougmill
	push = group user/dougmill
	label-Code-Review = -2..+2 group Macro Empires Reviewers
	label-Code-Review = -2..+2 group user/dougmill
	label-Verified = -1..+1 group user/dougmill
	rebase = group user/dougmill
	removeReviewer = group user/dougmill
	submit = group user/dougmill
	exclusiveGroupPermissions = read push label-Code-Review label-Verified rebase removeReviewer submit
[access "refs/heads/*"]
	read = group Macro Empires Reviewers
	read = group user/dougmill
	create = group user/dougmill
	push = +force group user/dougmill
	pushMerge = group user/dougmill
	exclusiveGroupPermissions = read create push pushMerge
[access "refs/tags/*"]
	push = +force group user/dougmill
	pushTag = group user/dougmill
	pushSignedTag = group user/dougmill
	exclusiveGroupPermissions = push pushTag pushSignedTag
[receive]
	requireChangeId = true
